[Unit]
Description=backup postgres

[Service]
Type=oneshot


WorkingDirectory=/docker/compose/cattail
ExecStart=/usr/bin/find '/docker/volumes/cattail/postgresql/backup/' -mtime +{{ cattail_backup_delete_after }} -type f -delete
ExecStart=/bin/bash -c '/opt/bin/docker-compose exec -T postgres pg_dumpall -c -U postgres > /docker/volumes/cattail/postgresql/backup/db_dump_$$(date +%%d-%%m-%%Y).sql'
